---
 const personalImageAlt = "Juan Manuel Lopez"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Juan Manuel Lopez pero mis amigos me dicen manu, soy amante de la tecnologia y los videojuegos. Empecé en el mundo de la 
      programación luego de finalizar el secundario donde Estudie la carrera de <strong> Ingenieria en Sistemas de Informacion </strong>en la UTN hasta 3 año de la carrera donde senti que no me estaba enfocando realmente en el area que me gustaba, Luego estudie 2 años de <strong> Desarrollo de videojuegos en la IES Siglo 21 </strong> hasta llegar al desarrollo web donde por primera vez me senti a gusto y encantado.
    </p>
    <p>
        Mientras estudiaba me surgio la oportunidad de ser Jugador Profesional de League of Legends dejando en pausa mis estudios un tiempo y dedicandole unos años de mi vida a esto que me apasionaba. Tras un tiempo compitiendo al maximo nivel de la region de América del Sur llego el momento de retomar mi pasion por la tecnologia.
        En este proceso como ProPlayer aprendi muchas cosas como <strong> trabajar en equipo </strong>, <strong> resolver problemas bajo presion </strong>, <strong> dedicacion y mentalidad para ser profesional y destacar </strong>, <strong> ser buen compañero y entender a los demas</strong>.  
      
    </p>

    <p>
      Actualmente estoy estudiando de manera autodidacta ya que a lo largo de los años descubri que esta es la forma donde mas me centro, divierto y mas me desarrollo como profesional
    </p>
  </div>

  <img width="200" height="200" src="https://i.imgur.com/uvTrA1P.jpeg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
